
header{
    background-color: darkgrey;
    text-align: center;
    height: 100px;


}

nav {
    display: inline-block;

    vertical-align: top;
    height: 100;

}

header img{

    float: none;
    margin-top: 15px;
}

nav ul {
    display: inline-block;





}

nav li{
    display: inline-block;
    padding-left: 25px;
    padding-top: 40px;
    padding-right:25px;


}

main{
    display: block;
    margin:auto;
    max-width:1000px;
}

#hero, #picture {
    display: block;
    margin: auto;


}

#hero{
    margin-top: 30px;
    margin-bottom: 15px;
}

#bottom{
    max-height: 450px;
    margin-bottom: 30px;
}

section{
    margin-top: 30px;

}

#fourEight{
    float: left;
    margin-right: 30px;
}

article{
    display:inline-block;
    max-width: 450px;

}

article h3{
    font-size: 2em;
}

article p{
    padding-top: 5px;
    max-height: 350px;
    overflow: scroll;
}

#picture img{
    margin:0px 15px;
}
#total{
    max-width:100vw;
    min-width: 1000px
}

footer{
    display: block;
    background-color: darkgrey;
    height: 150;
}

#foot{
    height: 150px;
}